.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 0rem 0rem 6rem;
  /* margin: 2em; */
  background-color: #faf7f2;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
  flex: 8 1;
}

.card_body {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.cart_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
  width: 100%;
}

.cart_img {
  max-width: 4rem;
  max-height: 4rem;
  flex: 1 1;
}

.img_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ordertext {
  font-family: "Antic Didone";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #072502;
}

.detail_col {
  display: grid;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  /* padding-top: 70px; */
  /* height: 200px; */
}

.hrFooterLine {
  margin: 25px auto 25px;
  padding: 0;
  width: 100%;
  border: 2px solid #3b5233;
  /* border-top: solid 2px;
      border-color: #001e00; */
  /* opacity: 1; */
  border-radius: 0.2rem;
}

.hrNormalLine {
  margin: 25px auto 25px;
  padding: 0;
  width: 100%;
  border: 1px solid #072502;
  /* border-top: solid 2px;
        border-color: #001e00; */
  /* opacity: 1; */
  border-radius: 0.2rem;
}

.infoText {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #3b5233;
}

.titleText {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #072502;
}

.price_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}

.name {
  flex: 2;
  width: 400px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #3b5233;
}

.qty {
  flex: 1;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #3b5233;
}

.total_content {
  display: flex;
  justify-content: space-between;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  color: #3b5233;
  margin-top: 3%;
}

.placeorder__button {
  margin-top: 2rem;
  width: 100%;
  height: 40px;
  background-color: #3b5233;
}
