.header {
  width: 100vw;
  text-align: center;
  display: grid;

  justify-content: center;
  align-content: center;
  grid-template-areas: " logo navbar iconWrap";
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  /* padding-right: 2rem; */
}

.logo {
  grid-area: logo;
}

@media (min-width: 768px) {
  .header {
    width: 100vw;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: " navbar logo iconWrap";
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.headerTitle {
  /* font-size: 1.3rem; */
  padding: 0;
  padding-top: 1rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 1.3rem;
  }
}

.navbar {
  display: grid;
  grid-area: navbar;
}
.headerSlogan {
  /* opacity: 0.6; */
  padding: 0;
  margin: 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
}

.iconWrap {
  grid-area: iconWrap;
  display: none;
}

@media (min-width: 768px) {
  .iconWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    gap: 2rem;
  }
}

.news {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  background-color: #001e00;
}

@media (min-width: 768px) {
  .news {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #001e00;
  }
}

.newsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mulish";
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #faf7f2;
}

@media (min-width: 768px) {
  .newsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mulish";
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #faf7f2;
  }
}
